/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Carousel */

.carousel {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.gallery {
    height: 100%;
}



.gallery img,
.gallery-thumbnails img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.fa-solid {
    position: absolute;
}

.fa-circle-arrow-left {
    top: 50%;
    right: 102%;
    translate: 0 -50%;
}

.fa-circle-arrow-right {
    bottom: 50%;
    left: 102%;
    translate: 0 50%;
}


.carousel div.active {
    display: block;
}

.gallery p,
.gallery h1 {
    position: absolute;
    color: white;
    z-index: 1;   
    left: 10px;
    text-shadow: 0 0 10px black;
}

.gallery p {
    bottom: 20px;
}

.gallery h1 {
    bottom: 50px;
}




/* Gallery Thumbnails */

.gallery-thumbnails {
    display: flex;
    height: 200px;
    width: 1200px;
    margin: 0 auto;
}

.gallery-thumbnails .col {
    width: calc(100% / 5);
    height: 200px;
    position: relative;
}

.gallery-thumbnails .cover::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.gallery-thumbnails div:not(.cover) {
    border: 5px solid green;
}
